---

- name: Check for passwords being set
  ansible.builtin.stat:
    path: "{{ elasticstack_initial_passwords }}"
  delegate_to: "{{ elasticstack_ca_host }}"
  register: elasticstack_passwords_file
  when: groups[elasticstack_elasticsearch_group_name] is defined

- name: Fetch Elastic password
  ansible.builtin.include_tasks: fetch_password.yml
  vars:
    _password_user: elastic
    _password_fact: elasticstack_password
  when:
    - groups[elasticstack_elasticsearch_group_name] is defined
    - elasticstack_passwords_file.stat.exists | default(false) | bool
