---
- name: Ensure gpg exists, for signing keys
  ansible.builtin.apt:
    name:
      - gpg
      - gpg-agent
    state: present

- name: Ensure Elastic Stack key is available (Debian)
  ansible.builtin.get_url:
    url: "{{ elasticstack_repo_key }}"
    dest: /usr/share/keyrings/elasticsearch.asc
    mode: "0644"

- name: Ensure Elastic Stack apt repo is absent (Debian legacy format)
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/artifacts_elastic_co_packages_{{ item }}_x_apt.list
    state: absent
  loop:
    - "7"
    - "8"
    - "9"

- name: Ensure Elastic Stack apt repository is configured (Debian)
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/elasticsearch.asc] https://artifacts.elastic.co/packages/{{ elasticstack_release }}.x/apt stable main
    state: present
    filename: elasticstack
