{{ ansible_managed | comment }}

auditbeat.modules:
{{ beats_auditbeat_modules | to_nice_yaml(indent=2, sort_keys=False) }}

{% include '_beats_setup.j2' %}
{% set _beat_output = beats_auditbeat_output %}
{% set _beat_loadbalance = beats_auditbeat_loadbalance %}
{% set _beat_name = "auditbeat" %}
{% include '_beats_output.j2' %}

{% include '_beats_logging.j2' %}

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
