---
{{ ansible_managed | comment }}

metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1
setup.kibana:
{% if elasticstack_full_stack | default(false) | bool and groups[elasticstack_kibana_group_name] | default([]) | length > 0 %}
  host: "http://{{ groups[elasticstack_kibana_group_name][0] }}:{{ elasticstack_kibana_port }}"
{% endif %}
{% set _beat_output = beats_metricbeat_output %}
{% set _beat_loadbalance = beats_metricbeat_loadbalance %}
{% set _beat_name = "metricbeat" %}
{% include '_beats_output.j2' %}

{% include '_beats_logging.j2' %}

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
