# {{ ansible_managed }}

{% if elasticsearch_jvm_custom_parameters is string %}
{{ elasticsearch_jvm_custom_parameters }}
{% else %}
{% for param in elasticsearch_jvm_custom_parameters %}
{{ param }}
{% endfor %}
{% endif %}
