---

- name: Install Auditbeat
  ansible.builtin.include_tasks: beat-install.yml
  vars:
    _beat_name: auditbeat

- name: Configure Auditbeat
  ansible.builtin.template:
    src: auditbeat.yml.j2
    dest: /etc/auditbeat/auditbeat.yml
    owner: root
    group: root
    mode: "0640"
  notify:
    - Restart Auditbeat
  tags:
    - configuration
    - beats_auditbeat_configuration
    - beats_configuration

- name: Setup Auditbeat in Elasticsearch
  ansible.builtin.command: >
    /usr/bin/auditbeat setup --pipelines --index-management &&
    /usr/bin/auditbeat version > /etc/auditbeat/pipeline_created
  run_once: true
  args:
    creates: "/etc/auditbeat/pipeline_created"
  notify:
    - Restart Auditbeat
  when:
    - beats_auditbeat_setup | bool
    - beats_auditbeat_output == "elasticsearch"

- name: Start Auditbeat
  ansible.builtin.service:
    name: auditbeat
    state: started
    enabled: true
  when: beats_auditbeat_enable | bool
