---

- name: Install Metricbeat
  ansible.builtin.include_tasks: beat-install.yml
  vars:
    _beat_name: metricbeat

- name: Configure Metricbeat
  ansible.builtin.template:
    src: metricbeat.yml.j2
    dest: /etc/metricbeat/metricbeat.yml
    owner: root
    group: root
    mode: 0640
  notify:
    - Restart Metricbeat
  tags:
    - configuration
    - beats_metricbeat_configuration
    - beats_configuration

- name: Enable modules
  ansible.builtin.command: "/usr/bin/metricbeat modules enable {{ item }}"
  args:
    creates: "/etc/metricbeat/modules.d/{{ item }}.yml"
  loop: "{{ beats_metricbeat_modules }}"
  when: beats_metricbeat_modules is defined

- name: Enable Ingest Pipelines
  ansible.builtin.command: >
    /usr/bin/metricbeat setup &&
    /usr/bin/metricbeat version > /etc/metricbeat/pipelines_created
  run_once: true
  args:
    creates: "/etc/metricbeat/pipelines_created"
  notify:
    - Restart Metricbeat
  when:
    - beats_metricbeat_modules is defined
    - beats_metricbeat_output == "elasticsearch"

- name: Start Metricbeat
  ansible.builtin.service:
    name: metricbeat
    state: started
    enabled: true
  when: beats_metricbeat_enable | bool
