{{ ansible_managed | comment }}

server.host: "0.0.0.0"
server.publicBaseUrl: "{{ kibana_public_base_url }}"
{% if kibana_server_protocol is defined and kibana_server_protocol | length > 0 %}
server.protocol: "{{ kibana_server_protocol }}"
{% endif %}

{% if elasticstack_full_stack is defined and elasticstack_full_stack | bool %}
    {%- if kibana_sniff_on_start | bool and elasticstack_release | int < 9 %}
elasticsearch.sniffOnStart: true
    {%- endif %}
    {%- if kibana_sniff_on_connection_fault | bool and elasticstack_release | int < 9 +%}
elasticsearch.sniffOnConnectionFault: true
    {%- endif %}
    {%- if kibana_sniff_interval is defined and elasticstack_release | int < 9 +%}
elasticsearch.sniffInterval: {{ kibana_sniff_interval }}
    {%- endif %}
    {%- if kibana_security | bool +%}
elasticsearch.hosts: [{% for host in kibana_elasticsearch_hosts %}"https://{{ host }}:{{ elasticstack_elasticsearch_http_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ kibana_password.stdout }}"
{%- if _kibana_has_ca | default(true) | bool +%}
elasticsearch.ssl.certificateAuthorities: "/etc/kibana/certs/ca.crt"
        {%- endif %}
        {%- if "localhost" in kibana_elasticsearch_hosts +%}elasticsearch.ssl.verificationMode: certificate
        {%- endif +%}
    {%- else +%}
elasticsearch.hosts: [{% for host in kibana_elasticsearch_hosts %}"http://{{ host }}:{{ elasticstack_elasticsearch_http_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
    {%- endif %}
{% endif +%}

{% if kibana_tls | bool %}
server.ssl.enabled: true
{% if kibana_cert_source == 'external' and _kibana_cert_format | default('pem') == 'pem' %}
server.ssl.certificate: "/etc/kibana/certs/{{ inventory_hostname }}-kibana.crt"
server.ssl.key: "/etc/kibana/certs/{{ inventory_hostname }}-kibana.key"
{% elif kibana_cert_source == 'external' and _kibana_cert_format | default('pem') == 'p12' %}
server.ssl.keystore.path: "/etc/kibana/certs/{{ inventory_hostname }}-kibana.p12"
{% else %}
server.ssl.keystore.path: "/etc/kibana/certs/{{ inventory_hostname }}-kibana.p12"
{% endif %}
{% endif %}

{# Sleutels die dit template zelf schrijft. kibana_extra_config mag ze niet nogmaals    #}
{# zetten: Kibana weigert te starten bij een dubbele sleutel. De condities hieronder     #}
{# volgen exact de blokken hierboven, zodat alleen gefilterd wordt wat echt gerenderd is. #}
{% set _managed = ['server.host', 'server.publicBaseUrl'] %}
{% if kibana_server_protocol is defined and kibana_server_protocol | length > 0 %}
{% set _managed = _managed + ['server.protocol'] %}
{% endif %}
{% if elasticstack_full_stack is defined and elasticstack_full_stack | bool %}
{% set _managed = _managed + ['elasticsearch.hosts'] %}
{% if kibana_sniff_on_start | bool and elasticstack_release | int < 9 %}
{% set _managed = _managed + ['elasticsearch.sniffOnStart'] %}
{% endif %}
{% if kibana_sniff_on_connection_fault | bool and elasticstack_release | int < 9 %}
{% set _managed = _managed + ['elasticsearch.sniffOnConnectionFault'] %}
{% endif %}
{% if kibana_sniff_interval is defined and elasticstack_release | int < 9 %}
{% set _managed = _managed + ['elasticsearch.sniffInterval'] %}
{% endif %}
{% if kibana_security | bool %}
{% set _managed = _managed + ['elasticsearch.username', 'elasticsearch.password'] %}
{% if _kibana_has_ca | default(true) | bool %}
{% set _managed = _managed + ['elasticsearch.ssl.certificateAuthorities'] %}
{% endif %}
{% if "localhost" in kibana_elasticsearch_hosts %}
{% set _managed = _managed + ['elasticsearch.ssl.verificationMode'] %}
{% endif %}
{% endif %}
{% endif %}
{% if kibana_tls | bool %}
{% set _managed = _managed + ['server.ssl.enabled'] %}
{% if kibana_cert_source == 'external' and _kibana_cert_format | default('pem') == 'pem' %}
{% set _managed = _managed + ['server.ssl.certificate', 'server.ssl.key'] %}
{% else %}
{% set _managed = _managed + ['server.ssl.keystore.path'] %}
{% endif %}
{% endif %}
{# De string-vorm wordt als YAML geparsed i.p.v. per regel gefilterd: alleen zo worden   #}
{# gequote sleutels en meerregelige waarden correct behandeld.                            #}
{% if kibana_extra_config is defined and kibana_extra_config %}
{% set _cfg = kibana_extra_config if kibana_extra_config is mapping else (kibana_extra_config | from_yaml) %}
{% if _cfg is mapping %}
{% set _filtered = _cfg | dict2items | rejectattr('key', 'in', _managed) | list | items2dict %}
{% if _filtered %}
{{ _filtered | to_nice_yaml(indent=2, sort_keys=False) }}
{% endif %}
{% else %}
{{ kibana_extra_config }}
{% endif %}
{% endif %}
