input {
{% if logstash_input_beats | default(true) | bool %}
  beats {
    port => {{ logstash_input_beats_port | default(5044) }}
{% if logstash_input_beats_ssl | default(false) | bool %}
{% if elasticstack_release | int >= 9 %}
    ssl_enabled => true
    ssl_certificate => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-server.crt"
    ssl_key => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-pkcs8.key"
    ssl_client_authentication => {{ logstash_input_beats_client_auth | default('required') }}
    ssl_certificate_authorities => ["{{ logstash_certs_dir }}/ca.crt"]
{% else %}
    ssl => true
    ssl_certificate => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-server.crt"
    ssl_key => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-pkcs8.key"
    ssl_verify_mode => force_peer
    ssl_certificate_authorities => ["{{ logstash_certs_dir }}/ca.crt"]
{% endif %}
{% endif %}
{% if logstash_input_beats_timeout is defined %}
    client_inactivity_timeout => "{{ logstash_input_beats_timeout }}"
{% endif %}
  }
{% endif %}
{% if logstash_input_elastic_agent | default(false) | bool %}
  elastic_agent {
    port => {{ logstash_input_elastic_agent_port | default(5044) }}
{% if logstash_input_elastic_agent_ssl | default(true) | bool %}
{% if elasticstack_release | int >= 9 %}
    ssl_enabled => true
    ssl_certificate => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-server.crt"
    ssl_key => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-pkcs8.key"
    ssl_client_authentication => required
    ssl_certificate_authorities => ["{{ logstash_certs_dir }}/ca.crt"]
{% else %}
    ssl => true
    ssl_certificate => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-server.crt"
    ssl_key => "{{ logstash_certs_dir }}/{{ inventory_hostname }}-pkcs8.key"
    ssl_verify_mode => force_peer
    ssl_certificate_authorities => ["{{ logstash_certs_dir }}/ca.crt"]
{% endif %}
{% endif %}
  }
{% endif %}
{% if logstash_extra_inputs | default('') | length > 0 %}
{{ logstash_extra_inputs | indent(2, first=true) }}
{% endif %}
}
