# {{ ansible_managed }}

input {
{% if logstash_input_beats | default(true) | bool %}
  beats {
    port => {{ logstash_input_beats_port | default(5044) }}
{% if logstash_input_beats_ssl | default(false) | bool %}
    {{ _logstash_input_ssl_options.enabled }} => true
    ssl_certificate => "{{ _logstash_input_cert_path }}"
    ssl_key => "{{ _logstash_input_key_path }}"
    {{ _logstash_input_ssl_options.client_authentication }} => {{ _logstash_input_ssl_options.beats_client_authentication }}
    ssl_certificate_authorities => ["{{ _logstash_ca_cert_path }}"]
{% endif %}
{% if logstash_input_beats_timeout is defined %}
    client_inactivity_timeout => {{ logstash_input_beats_timeout | string | regex_replace('s$', '') }}
{% endif %}
  }
{% endif %}
{% if logstash_input_elastic_agent | default(false) | bool %}
  elastic_agent {
    port => {{ logstash_input_elastic_agent_port | default(5044) }}
{% if logstash_input_elastic_agent_ssl | default(true) | bool %}
    {{ _logstash_input_ssl_options.enabled }} => true
    ssl_certificate => "{{ _logstash_input_cert_path }}"
    ssl_key => "{{ _logstash_input_key_path }}"
    {{ _logstash_input_ssl_options.client_authentication }} => {{ _logstash_input_ssl_options.elastic_agent_client_authentication }}
    ssl_certificate_authorities => ["{{ _logstash_ca_cert_path }}"]
{% endif %}
  }
{% endif %}
{% if logstash_extra_inputs | default('') | length > 0 %}
{{ logstash_extra_inputs | indent(2, first=true) }}
{% endif %}
}
