{% if logstash_filters | default('') | length > 0 or logstash_filter_files | default([]) | length > 0 %}
filter {
{% if logstash_pipeline_identifier | default(true) | bool and logstash_pipeline_identifier_defaults | default(false) | bool %}
  mutate {
    add_field => {
      "{{ logstash_pipeline_identifier_field_name | default('[logstash][pipeline]') }}" => "main"
    }
  }
{% endif %}
{% if logstash_filters | default('') | length > 0 %}
{{ logstash_filters | indent(2, first=true) }}
{% endif %}
}
{% endif %}
