path.data: {{ logstash_config_path_data }}
config.reload.automatic: {{ logstash_config_autoreload | lower }}
{% if logstash_config_autoreload | bool and logstash_config_autoreload_interval is defined %}
config.reload.interval: {{ logstash_config_autoreload_interval }}
{% endif %}
path.logs: {{ logstash_config_path_logs }}
{% if logstash_http_host is defined %}
api.http.host: {{ logstash_http_host }}
{% if logstash_http_port is defined %}
api.http.port: {{ logstash_http_port }}
{% endif %}
{% endif %}
{% if logstash_global_ecs is defined %}
pipeline.ecs_compatibility: {{ logstash_global_ecs }}
{% endif %}
{% if logstash_pipeline_unsafe_shutdown is defined %}
pipeline.unsafe_shutdown: {{ logstash_pipeline_unsafe_shutdown }}
{% endif %}
{% if logstash_pipeline_buffer_type is defined and logstash_pipeline_buffer_type | length > 0 %}
pipeline.buffer.type: {{ logstash_pipeline_buffer_type }}
{% endif %}
{% if logstash_dead_letter_queue_enable is defined %}
dead_letter_queue.enable: {{ logstash_dead_letter_queue_enable | lower }}
{% if logstash_dead_letter_queue_enable | bool %}
{% if logstash_dead_letter_queue_retain_age is defined %}
dead_letter_queue.retain.age: {{ logstash_dead_letter_queue_retain_age }}
{% endif %}
{% endif %}
{% endif %}
{% if logstash_log_format is defined %}
log.format: {{ logstash_log_format }}
{% endif %}
{% if logstash_monitoring_enabled is defined %}
xpack.monitoring.enabled: {{ logstash_monitoring_enabled | lower }}
{% if logstash_monitoring_enabled | bool and elasticstack_release | int >= 9 %}
xpack.monitoring.allow_legacy_collection: true
{% endif %}
{% endif %}
{% if logstash_xpack_management | bool %}
xpack.management.enabled: true
{% if logstash_xpack_management_elasticsearch_username is defined %}
xpack.management.elasticsearch.username: {{ logstash_xpack_management_elasticsearch_username }}
{% endif %}
{% if logstash_xpack_management_elasticsearch_password is defined %}
xpack.management.elasticsearch.password: {{ logstash_xpack_management_elasticsearch_password }}
{% endif %}
{% if logstash_xpack_management_elasticsearch_hosts is defined %}
xpack.management.elasticsearch.hosts: {{ logstash_xpack_management_elasticsearch_hosts | to_json }}
{% endif %}
{% if logstash_xpack_management_pipeline_id is defined %}
xpack.management.pipeline.id: {{ logstash_xpack_management_pipeline_id | to_json }}
{% endif %}
{% endif %}
{% if logstash_extra_config is defined and logstash_extra_config %}
{%   set _managed_keys = [
       'path.data', 'path.logs', 'config.reload.automatic', 'config.reload.interval',
       'api.http.host', 'api.http.port',
       'pipeline.ecs_compatibility', 'pipeline.unsafe_shutdown', 'pipeline.buffer.type',
       'dead_letter_queue.enable', 'dead_letter_queue.retain.age',
       'log.format', 'xpack.monitoring.enabled', 'xpack.monitoring.allow_legacy_collection',
       'xpack.management.enabled', 'xpack.management.elasticsearch.username',
       'xpack.management.elasticsearch.password', 'xpack.management.elasticsearch.hosts',
       'xpack.management.pipeline.id'
     ] %}
{%   set _filtered = logstash_extra_config | dict2items | rejectattr('key', 'in', _managed_keys) | list | items2dict %}
{%   if _filtered %}
{{ _filtered | to_nice_yaml(indent=2, sort_keys=False) }}
{%   endif %}
{% endif %}
