---
name: Test Linting
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  workflow_call:
    inputs:
      rolename:
        required: true
        type: string
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install test dependencies.
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-test.txt

      - name: Lint code (yamllint).
        run: |
          yamllint .
        if: ${{ inputs.rolename == '' }}

      - name: Lint Role (yamllint).
        run: |
          yamllint roles/${{ inputs.rolename }}
        if: ${{ inputs.rolename != '' }}

      - name: Lint Role (ansible-lint).
        run: |
          ansible-lint roles/${{ inputs.rolename }}
