---
name: Test Role Kibana
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  pull_request:
    branches:
      - 'feature/**'
      - 'fix/**'
      - '!doc/**'
    paths:
      - 'roles/kibana/**'
      - '.github/workflows/test_role_kibana.yml'
      - 'molecule/kibana_**'

jobs:
  lint_kibana:
    uses: ./.github/workflows/test_linting.yml
    with:
      rolename: kibana


  molecule_kibana:
    needs: lint_kibana
    runs-on: ubuntu-latest

    env:
      COLLECTION_NAMESPACE: oddly
      COLLECTION_NAME: elasticstack

    strategy:
      fail-fast: false
      matrix:
        distro:
          - rockylinux8
          - rockylinux9
          - rockylinux10
          - ubuntu2204
          - ubuntu2404
          - debian11
          - debian12
          - debian13
        scenario: [kibana_default]
        release: [ 8, 9 ]

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements-test.txt

      - name: Install collection
        run: |
          mkdir -p ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE
          cp -a ../ansible-collection-$COLLECTION_NAME ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE/$COLLECTION_NAME

      - name: Test with molecule
        run: |
          # RHEL 8 ships Python 3.6 which is incompatible with community.general 12.x
          if [[ "${{ matrix.distro }}" == "rockylinux8" ]]; then
            molecule test -s ${{ matrix.scenario }} --destroy=never -- -e ansible_python_interpreter=/usr/bin/python3.9
          else
            molecule test -s ${{ matrix.scenario }} --destroy=never
          fi
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
          ELASTIC_RELEASE: ${{ matrix.release }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'

      - name: Cleanup molecule
        if: always()
        run: molecule destroy -s ${{ matrix.scenario }}
        continue-on-error: true
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
