---
name: Test Role Logstash
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
  pull_request:
    branches:
      - main
      - 'feature/**'
      - 'fix/**'
      - '!doc/**'
    paths:
      - 'roles/logstash/**'
      - '.github/workflows/test_role_logstash.yml'
      - 'molecule/logstash_**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint_logstash:
    uses: ./.github/workflows/test_linting.yml
    with:
      rolename: logstash


  molecule_logstash_extended:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    needs: lint_logstash

    env:
      COLLECTION_NAMESPACE: oddly
      COLLECTION_NAME: elasticstack

    strategy:
      fail-fast: false
      matrix:
        distro:
          - rockylinux9
          - rockylinux10
          - ubuntu2204
          - ubuntu2404
          - debian11
          - debian12
          - debian13
        scenario:
          - logstash_specific_version
          - logstash_pipeline_defaults
          - logstash_pipeline_filters
          - logstash_pipeline_custom
          - logstash_standalone
          - logstash_certs_external
          - logstash_elastic_agent
        release:
          - 8
          - 9

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python 3.12
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: uv pip install --system -r requirements-test.txt
        env:
          SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt

      - name: Install collection
        run: |
          mkdir -p ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE
          cp -a ../ansible-collection-$COLLECTION_NAME ~/.ansible/collections/ansible_collections/$COLLECTION_NAMESPACE/$COLLECTION_NAME

      - name: Test with molecule
        run: molecule test -s ${{ matrix.scenario }} --destroy=never
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          ANSIBLE_DIFF_ALWAYS: 'true'
          ANSIBLE_CALLBACKS_ENABLED: profile_tasks
          ELASTIC_RELEASE: ${{ matrix.release }}

      - name: Collect and upload diagnostics
        if: failure()
        uses: ./.github/actions/collect-diagnostics
        with:
          artifact-name: diag-${{ matrix.scenario }}-${{ matrix.distro }}-r${{ matrix.release }}

      - name: Cleanup molecule
        if: always()
        run: molecule destroy -s ${{ matrix.scenario }}
        continue-on-error: true
        env:
          MOLECULE_DISTRO: ${{ matrix.distro }}
